<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>todo index</title>
    <style>
        nav {
            font-size: large;
            background: black;
        }
        .nav-item {
            display:inline-block;
            color: white;
            padding: 20px;
            width:15%;
            text-align: center;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <nav>
    <a class="nav-item" href="http://www.wtfafk.com:3000/login">登录</a>
    <a class="nav-item" href="http://www.wtfafk.com:3000/register">注册</a>
    <a class="nav-item" href="http://www.wtfafk.com:3000/weibo/index">微博</a>
    <a class="nav-item" href="http://www.wtfafk.com:3000/admin">管理</a>
</nav>
    <form action="/todo/add" method="post">
        <input name="task">
        <button>add todo</button>
    </form>

    {% for t in todos %}
        <div>
            <a href="/todo/delete?id={{ t.id }}">删除</a>
            <a href="/todo/edit?id={{ t.id }}">修改</a>
            {{ t.id }} : {{ t.task }} : {{ t.user_id }}
        </div>
    {% endfor %}
</body>
</html>